.text-align {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.food-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.like-view {
  display: flex;
}