.card-body {
  padding: 0px;
}
.ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-title {
  font-size: 2rem;
  font-weight: bold;
  padding: 30px 0 20px 0;
}

.rank-list {
  max-width: 1020px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.item-location {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 8px 8px 16px -2px rgba(178, 178, 178, 1);
  -moz-box-shadow: 8px 8px 16px -2px rgba(178, 178, 178, 1);
  box-shadow: 8px 8px 16px -2px rgba(178, 178, 178, 1);
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.item-image {
  width: 20vw !important;
  height: 20vw;
}

.item-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0 0 10px;
}

.item-card {
  border: none;
}

.like-view-div {
  display: flex;
  justify-content: end;
  padding: 0 10px 10px 0;
  align-items: center;
}

.like-view {
  font-size: 1.2rem;
  color: #bdbdbd;
  white-space: pre-wrap;
}

.like-view-count {
  font-weight: bold;
  white-space: pre-wrap;
}
